

        @media screen and (max-width: 639px) {
          .slick-prev {
            top: 120% !important;
            left: 30% !important;
          }

          .slick-next {
            top: 120% !important;
            right: 30% !important;
          }
        }

        @media screen and (max-width: 1340px) {
          .css-5am4q0.builder-block {
            width: 100vw;
            transform: translateX(-50%);
            left: 50%;
            padding: 0 30px 0 30px;
          }

          .css-g4p0u4.builder-block {
            width: 100vw;
            transform: translateX(-50%);
            left: 50%;
            padding: 0 30px 0 30px;
          }

          .css-1hbf805 {
            width: 400px !important;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      
  .div-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    margin-top: 0px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
 
    margin-left: calc(50% - 50vw);
  }
  .section {
    width: 100%;
    align-self: stretch;
    flex-grow: 1;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
  }
  .div-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 11px;
    padding-bottom: 10px;
    width: 101vw;
    background-color: rgba(21, 3, 55, 1);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
    margin-left: calc(50% - 50vw);
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 29px;
  }
  .div-5 {
    border-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.55);
    display: flex;
    position: relative;
    width: 100%;
    background-color: transparent;
    color: rgb(234, 146, 62);
    text-decoration: none;
    flex-direction: column;
    pointer-events: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .div-6 {
    position: relative;
    size: 20vw;
    border-radius: 21px;
    opacity: 0.8;
    flex-grow: 0;
    flex-direction: row;
    display: flex;
    max-height: 85px;
  }
  .div-7 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 50%;
    overflow: hidden;
    width: 50%;
    border-radius: 38px;
    max-height: 15vw;
    height: auto;
    flex-grow: 0;
    align-self: stretch;
  }
  .image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer {
    width: 100%;
    padding-top: 67.24%;
    pointer-events: none;
    font-size: 0;
  }
  .div-8 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 50%;
    overflow: hidden;
    width: 50%;
    border-radius: 38px;
    max-height: 15vw;
    flex-grow: 0;
    align-self: stretch;
  }
  .image-2 {
    object-fit: cover;
    object-position: left;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .section-2 {
    position: center;
    background-color: rgba(21, 3, 55, 1);
    align-items: center;
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-self: center;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
  }
  .box {
    display: flex;
    position: center;
    border-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 1px 1px 55px 5px rgba(0, 0, 0, 0.56);
    background-color: rgba(21, 3, 55, 1);
    line-height: 12px;
    opacity: 1;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    flex-grow: 0;
    align-self: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 640px) {
    .box {
      width: 100%;
      align-self: center;
    }
  }
  .div-9 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    height: 200px;
    margin-bottom: -6px;
  }
  .div-10 {
    font-weight: 500;
    text-align: center;
    line-height: 45px;
    color: rgba(248, 243, 243, 1);
    font-family: "Orbitron", sans-serif;
    text-shadow: 1px 1px 17px rgba(5, 121, 15, 0.66);
    margin-top: -1px;
    font-size: 57px;
  }
  @media (max-width: 640px) {
   .box {
    display: none;
   }
   .div-4 {
    display: none;
   }
    .div-10 {
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
      line-height: 57px;
      font-weight: 900;
      display: none;
    }
    .div-11 {
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
      line-height: 57px;
      font-weight: 900;
      display: none;
    }
    .div-12 {
  display: none;
    }
  }
  .div-11 {
    text-align: center;
    line-height: 0px;
    color: rgba(248, 243, 243, 1);
    font-family: "Orbitron", sans-serif;
    text-shadow: 1px 1px 17px rgba(5, 121, 15, 0.66);
    margin-top: 33px;
    padding-bottom: 33px;
    font-size: 39px;
    letter-spacing: 4px;
    border-style: solid;
    border-color: rgba(189, 25, 25, 1);
    border-width: 0px;
  }
  .div-12 {
    padding-top: 73px;
    padding-bottom: 13px;
    line-height: 5px;
    color: rgba(248, 243, 243, 1);
    font-family: "Orbit";
    font-size: 23px;
    
    border-style: none;
    border-color: rgba(17, 3, 165, 1);
    border-width: 1px;
    text-shadow: 3px 3px 27px rgba(10, 218, 65, 1);
    text-align: center;
    opacity: 1;
  }
  .div-13 {
    position: relative;
    letter-spacing: 2px;
    justify-content: space-between;
    line-height: 0px;
    border-style: none;
    border-color: rgba(252, 254, 253, 1);
    border-width: 0px;
    opacity: 1;
    text-shadow: 1px 6px 3px rgba(0, 0, 0, 1);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 106px;
    padding-bottom: 29px;
  }
  .premier {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    line-height: -4px;
    height: auto;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgba(250, 255, 251, 1);
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 1);
    border-style: none;
    border-color: rgb(22, 167, 35);
    margin-top: auto;
    background-color: rgba(128, 137, 118, 1);
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: auto;
    opacity: 0.4;
    margin-right: auto;
  }
  .premier-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: -4px;
    height: auto;
    text-align: right;
    padding-top: 0px;
    color: rgba(250, 255, 251, 1);
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 1);
    border-style: none;
    border-color: rgb(22, 167, 35);
    background-color: rgba(128, 137, 118, 1);
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
    opacity: 0.41;
    margin-left: 20px;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .premier-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    line-height: -4px;
    height: auto;
    text-align: right;
    padding-top: 0px;
    color: rgba(250, 255, 251, 1);
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 1);
    border-style: none;
    border-color: rgb(22, 167, 35);
    margin-top: auto;
    background-color: rgba(128, 137, 118, 1);
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: auto;
    opacity: 0.4;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .div-14 {
    position: center;
    width: 85vw;
    align-self: center;
    flex-grow: 0;
    background-color: rgba(158, 42, 42, 0);
    color: rgba(252, 231, 231, 1);
    line-height: 10px;
    border-style: solid;
    border-color: rgba(52, 227, 45, 1);
    border-width: 0px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  .collectcard {
    position: relative;
    align-self: stretch;
    background-color: rgba(158, 42, 42, 0);
    line-height: 10px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

  }
  @media (max-width: 640px) {
    .div-14 {
      padding-top: 0px;
      width: 100vw;
      display: none;
     
    }
    .mobcollect {
      display: flex;

    }
    .collectcard {
      width: 100vw;
    }
    .div-3 {
      display:relative
    }
    .image-3 {
      width: 100vw;
    }
  }
  .div-15 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .a {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    text-align: center;
    line-height: normal;
    height: 28vw;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 45px;
    width: 21vw;
    margin-left: 13px;
    cursor: pointer;
    pointer-events: auto;
  }
  @media (max-width: 640px) {
    .a {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .image-3 {
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-2 {
    width: 100%;
    padding-top: 120.47000000000001%;
    pointer-events: none;
    font-size: 0;
  }
  .div-16 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10px;
    height: auto;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2px;
    opacity: 0.87;
    text-align: center;
    border-style: solid;
    border-color: rgba(14, 12, 12, 1);
    border-width: 0px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  }
  .div-17 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .a-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    text-align: center;
    line-height: normal;
    height: 28vw;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 21vw;
    margin-left: 9px;
    pointer-events: auto;
    cursor: pointer;
  }
  @media (max-width: 640px) {
    .a-2 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .image-sizer-3 {
    width: 100%;
    padding-top: -29.959514170040503%;
    pointer-events: none;
    font-size: 0;
  }
  .div-18 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10px;
    line-height: -11px;
    height: auto;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2px;
    opacity: 0.87;
    text-align: center;
  }
  .div-19 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .a-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    text-align: center;
    line-height: normal;
    height: 28vw;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    width: 21vw;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.38);
    cursor: pointer;
    pointer-events: auto;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 640px) {
    .a-3 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .image-4 {
    object-fit: contain;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-4 {
    width: 100%;
    padding-top: 70.04048582995948%;
    pointer-events: none;
    font-size: 0;
  }
  .div-20 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10px;
    line-height: -11px;
    height: auto;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2px;
    opacity: 0.87;
    text-align: center;
  }
  .div-21 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  .a-4 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    text-align: center;
    line-height: normal;
    height: 28vw;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    width: 21vw;
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 15px;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    pointer-events: auto;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 640px) {
    .a-4 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .image-5 {
    object-fit: contain;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-5 {
    width: 100%;
    padding-top: 70.04048582995948%;
    pointer-events: none;
    font-size: 0;
  }
  .div-22 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10px;
    line-height: -11px;
    height: auto;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2px;
    opacity: 0.87;
    text-align: center;
  }
  .div-23 {
    position: relative;
    width: 99%;
    align-self: stretch;
    flex-grow: 0;
    background-color: rgba(158, 42, 42, 0);
    color: rgba(252, 231, 231, 1);
    line-height: 10px;
    border-style: solid;
    border-color: rgba(52, 227, 45, 1);
    border-width: 0px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 640px) {
    .div-23 {
      padding-top: 0px;
    }
  }
  .div-24 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .image-6 {
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-6 {
    width: 100%;
    padding-top: 120.47000000000001%;
    pointer-events: none;
    font-size: 0;
  }
  .div-25 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10px;
    line-height: -11px;
    height: auto;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2px;
    opacity: 0.87;
    text-align: center;
  }
  .div-26 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .image-7 {
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-7 {
    width: 100%;
    padding-top: 120.47000000000001%;
    pointer-events: none;
    font-size: 0;
  }
  .div-27 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10px;
    line-height: -11px;
    height: auto;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2px;
    opacity: 0.87;
    text-align: center;
  }
  .div-28 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .image-8 {
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-8 {
    width: 100%;
    padding-top: 120.47000000000001%;
    pointer-events: none;
    font-size: 0;
  }
  .div-29 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10px;
    line-height: -11px;
    height: auto;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2px;
    opacity: 0.87;
    text-align: center;
  }
  .div-30 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .div-31 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .a-5 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    text-align: center;
    line-height: normal;
    height: 28vw;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    width: 21vw;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.38);
    cursor: pointer;
    pointer-events: auto;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 640px) {
    .a-5 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .image-sizer-9 {
    width: 100%;
    padding-top: 70.04048582995948%;
    pointer-events: none;
    font-size: 0;
  }
  .div-32 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10px;
    line-height: -11px;
    height: auto;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -2px;
    opacity: 0.87;
    text-align: center;
  }
  .div-33 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 99vw;
    margin-left: auto;
    margin-right: auto;
  }
